body {
   font-family: 'Roboto Condensed', sans-serif;
}
h1 {
    margin:  auto;
    padding-top: 10px;
    padding-bottom:  10px;
    padding-left:  50px;
    color: blue;
}

#header {
    padding-top: 50px;
    
    
}

#navbar {
    position:  fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    text-align: center;
    
}

#navbar li {
    display: inline-block;
    word-spacing: normal;
       
}


#navbar ul {
    margin:  auto;
    padding-top: 0px;
    height: 25px;
    width: auto;
    word-spacing: 50px;
    list-style-type: none;
            
    
}

body #wrapper {
    width: 1000px;
    margin-left:  auto;
    margin-right:  auto;
}
