body {
   font-family: 'Roboto Condensed', sans-serif;
}
h1 {
    margin:  auto;
    padding-top: 10px;
    padding-bottom:  10px;
    padding-left:  50px;
    color: blue;
}

#header {
    padding-top: 50px;
    background-image: url(./skiingheader.jpg);
    width: 1000px;
    height:  200px;
    margin-left: auto;
    margin-right: auto;
    background-repeat:  no-repeat;
    
        
}

.headerlogo {
    float: left;
    padding-left: 30px;
    padding-top: 15px;
  
}

#navbar {

    position:  fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    text-align: center;
    background-color: #0ff;

    

}

#navbar li {
    display: inline-block;
    word-spacing: normal;
       
}


#navbar ul {

    margin:  auto;
    padding-top: 15px;
    padding-right: 300px;
    height: 25px;
    width: auto;
    word-spacing: 50px;
    list-style-type: none;
            

    
}

#navbar li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #1565C0;

}
#wrapper {
    width: 1000px;
    margin-left:  auto;
    margin-right:  auto;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#content1 {
    display: flexbox;
    padding-right: 10px;
}
#content2 {
    display: flexbox;
    padding-right: 10px;
}
#content3 {
    display: flexbox;
    padding-right: 10px;
}
#footer{
    text-align: center;
}

